*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

body {
    background-color: rgb(19, 18, 18);
}

.container {
    padding: 0px;
}

.headerContain {
    display: flex;
    flex-direction: column;
}

.head {
    margin: none;
    padding: none;
    height: 250px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.034), rgba(19,18,18,1)), url(./components/images/head.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #2a3b33 
}

  .dugme {
      font-size: 40px;
      cursor: pointer;
      text-decoration: none;
      position: relative;
      color: #a1a111 
  }

  .dugme:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    border-bottom: 2px solid #c9c63a;
    transition: 0.4s;
  }

  .dugme:hover:after {
    width: 100%;
  }

  .mainContainer {
      padding: 45px;
      margin: 80px 25px auto 25px;
      border: 1px solid rgb(51, 50, 50);
      background-color: rgba(92, 89, 89, 0.116);
  }

  h3 {
      padding: 25px;
      color:darkgoldenrod;
      font-size: 35px;
  }

  .image {
      width: 400%;
      border-radius: 5px;
  }

  .image2 {
      width: 600%;
  }

  .image3 {
      width: 100%;
      opacity: 80%;
  }

  .description {
      padding: 25px;
      display: flex;
      flex-direction: column;
      align-content: space-around;
  }

  .descriptionContainer{
    display: flex;
    flex-direction: row;
    align-content: space-around;
  }


  .descriptionContainer2 {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 50px;
    align-content: space-around;
    justify-content: space-between;
  }

  .descriptionContainer3 {
      display: flex;
      flex-direction: column;
      margin-top: 50px;
      justify-content: center;
  }

  p {
      color: honeydew;
      margin-left: 10px;
  }

  .paragraphF {
      font-size: large;
      text-align: center;
  }

  footer {
      margin-top: 50px;
      height: 80px;
      background-color: rgb(44, 43, 41) ;
      position: sticky;
  }

  ul {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      list-style: none;
  }

  li {
      padding: 20px;
      color: blanchedalmond;
      cursor: pointer;
  }

  .copyright {
      display: flex;
      justify-content: flex-end;
      margin-right: 25px;
      color: blanchedalmond;
  }